<div class="px-4">
    @switch (this.currentStep.id) {
    @case (creation.CATEGORY) {
    <category-step [category]="newListing.category" (categoryChangeEvent)="onCategoryChange($event)"
        (stepValidatedEvent)="onStepValidated($event)"></category-step>
    }
    @case (creation.LOCATION) {
    <location-step [location]="newListing.location" (locationChangeEvent)="onLocationChange($event)"
        (stepValidatedEvent)="onStepValidated($event)"></location-step>
    }
    @case (creation.INFO) {
    <div class="mb-5">
        <h1 class="mb-1">Share some basics about your place</h1>
        <h2 class="mt-0">You'll add more details later, like bed types</h2>
        <info-step [infos]="newListing.infos" (infoEvent)="onInfoChange($event)"
            (stepValidated)="onStepValidated($event)"></info-step>
    </div>
    }
    @case (creation.PHOTOS) {
    <picture-step [pictures]="newListing.picture" (picturesEvent)="onPictureChange($event)"
        (stepValidatedEvent)="onStepValidated($event)"></picture-step>
    }
    @case (creation.DESCRIPTION) {
    <description-step [description]="newListing.description" (descriptionChangeEvent)="onDescriptionChange($event)"
        (stepValidatedEvent)="onStepValidated($event)"></description-step>
    }
    @case (creation.PRICE) {
    <price-step [price]="newListing.price" (priceChangeEvent)="onPriceChange($event)"
        (stepValidatedEvent)="onStepValidated($event)"></price-step>
    }
    }
</div>
<step [currentStep]="currentStep" [allValid]="allStepsValid()" [loading]="loadingCreation"
    (finishEvent)="createListing()" (nextEvent)="nextStep()" (previousEvent)="previousStep()"></step>