<info-step-control [title]="'Guests'" [value]="infos().guest.value"
    (valueChange)="onInfoChange($event,'GUEST')"></info-step-control>
<info-step-control [title]="'Bedrooms'" [value]="infos().bedroom.value"
    (valueChange)="onInfoChange($event,'BEDROOM')"></info-step-control>
<info-step-control [title]="'Beds'" [value]="infos().bed.value"
    (valueChange)="onInfoChange($event,'BED')"></info-step-control>
<info-step-control [title]="'Bathrooms'" [value]="infos().bath.value"
    (valueChange)="onInfoChange($event,'BATH')"></info-step-control>