<div class="card relative cursor-pointer">
    <div (click)="clickCard(cardMode()==='booking'? booking?.listingPid! : card?.pid!)">
        <div class="border-1 border-transparent border-round border-round-3xl bg-cover bg-center bg-no-repeat h-24rem w-full"
            [style.background-image]="'url(data:'+listing().cover.fileContentType+';base64,'+listing().cover.file +')'">
        </div>
        <div class="mt-2 font-bold">{{ listing().location }}</div>

        @if(cardMode() === 'booking'){
        <div>
            {{booking?.dates?.start | date: "mediumDate"}} - {{booking?.dates?.end | date: "mediumDate"}}
        </div>
        <div class="mt-2">
            <span class="font-bold">
                {{booking?.totalPrice?.value! | currency}}
            </span>
        </div>
        }@else{
        <div>{{categoryService.getCategoryByCategory(card?.category!)?.name}}</div>
        <div class="mt-2">
            <span class="font-bold">
                {{card?.price?.value! | currency}}
            </span>
        </div>
        }
    </div>
    @if(cardMode() === "landlord"){
    <button [disabled]="card?.loading" class="absolute trash-btn p-button" (click)="delete(card!)">
        @if(card?.loading) {
        <fa-icon icon="circle-notch" animation="spin"></fa-icon>
        } @else {
        <fa-icon icon="trash-can"></fa-icon>
        }
    </button>
    }

    @if(cardMode() === "booking"){
    <button [disabled]="booking?.loading" class="absolute trash-btn p-button" (click)="cancel(booking!)">
        @if(booking?.loading) {
        <fa-icon icon="circle-notch" animation="spin"></fa-icon>
        } @else {
        <fa-icon icon="trash-can"></fa-icon>
        }
    </button>
    }
</div>